# shellcheck disable=all


##  Zsh vars and options
# shellcheck disable=SC1036
setopt interactive_comments

fpath=( $fpath $HOME/.zfunc(-N/) )
fpath=( ${^fpath}(-N/) )
cdpath=(
    "$HOME/projects/personal"
)


##  Zsh key bindings
bindkey -e
bindkey '^U' push-input


##  Zsh history
HISTFILE=${XDG_STATE_HOME:-$HOME/.local/state}/zsh/.zsh_history
HISTSIZE=999999999
SAVEHIST=$HISTSIZE
setopt  \
    extended_history \
    hist_find_no_dups \
    hist_ignore_space \
    hist_ignore_dups \
    hist_no_store \
    hist_reduce_blanks \
    hist_verify \
    inc_append_history \
    share_history \

zstyle ':dotfiles:alias' builtin_ls false


{{ include "private_dot_config/zsh/.include/010-aliases.zsh" }}
{{ include "private_dot_config/zsh/.include/015-functions.zsh" }}
{{ include "private_dot_config/zsh/.include/020-async.zsh" }}
{{ include "private_dot_config/zsh/.include/025-bitwarden.zsh" }}
{{ if or (hasPrefix "work." .profile) (eq .chezmoi.hostname "mao-macbook-pro-14") }}
{{-  include "private_dot_config/zsh/.include/040-work.zsh" -}}
{{ end }}


## Zinit
{{ include "private_dot_config/zsh/.include/zinit_00_install.zsh" }}

{{ include "private_dot_config/zsh/.include/zinit_01_homebrew.zsh" }}
{{ if eq .chezmoi.os "darwin" }}
{{-  include "private_dot_config/zsh/.include/zinit_02_macos.zsh" -}}
{{ end }}

{{ include "private_dot_config/zsh/.include/zinit_05_light.zsh" }}
{{ include "private_dot_config/zsh/.include/zinit_06_snippets.zsh" }}


## Use modern completion system
autoload -Uz compinit
compinit

zstyle ':completion:*' auto-description 'specify: %d'
zstyle ':completion:*' completer _expand _complete _correct _approximate
zstyle ':completion:*' format 'Completing %d'
zstyle ':completion:*' group-name ''
zstyle ':completion:*' menu select=2
zstyle ':completion:*' matcher-list '' 'm:{a-z}={A-Z}' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=* l:|=*'
zstyle ':completion:*' menu select=long
zstyle ':completion:*' select-prompt %SScrolling active: current selection at %p%s
zstyle ':completion:*' use-compctl false
zstyle ':completion:*' verbose true

zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#)*=0=01;31'
zstyle ':completion:*:kill:*' command 'ps -u $USER -o pid,%cpu,tty,cputime,cmd'


# vim: set fileformat=unix tabstop=4 shiftwidth=4 expandtab:
