{{- $privateEmail := promptStringOnce . "privateEmail" "Private email address" -}}

[data]
    privateEmail = {{ $privateEmail | quote }}
    {{if lookPath "bw" -}}
        workEmail = {{ (bitwarden "item" "work.2025.05@secondary").identity.email | quote }}
    {{else -}}
        workEmail = "john@example.com"
    {{- end}}

[diff]
    pager = "diff-so-fancy"

    # Example of how to use VS Code for diff (remove "_disable" suffix to activate):
    command_disable = "code"
    args_disable = ["--new-window", "--diff", "{{ `{{.Destination}}` }}", "{{ `{{.Target}}` }}"]

[merge]
    command = "bash"
    args = [
        "-c",
        """\
        cp {{ `{{.Target}}` }} {{ `{{.Target}}.base` }} && \
        code --new-window --wait --merge \
            {{ `{{.Destination}}` }} \
            {{ `{{.Target}}` }} \
            {{ `{{.Target}}.base` }} \
            {{ `{{.Source}}` }}""",
    ]
