###  Zinit plugins which need to be loaded last template begin

# shellcheck disable=all
() {
    zinit --lucid for \
        --wait \
        --atload='!_zsh_autosuggest_start' \
        zsh-users/zsh-autosuggestions \
        --wait='1z' \
        --atinit='ZINIT[COMPINIT_OPTS]=-C; zicompinit; zicdreplay' \
        zdharma-continuum/fast-syntax-highlighting

{{- if eq .chezmoi.os "darwin" }}
    zinit --lucid for \
        --if='[[ -d $HOME/.local/bin ]]' \
        --id-as='local-gnu-utils' \
        --nocompile='!' \
        --atclone='echo "path=( \$HOME/.local/bin \$path )" > local-gnu-utils.zsh' \
        --run-atpull \
        --atpull='%atclone' \
        zdharma-continuum/null
{{- end }}
}

###  Zinit plugins which need to be loaded last template end
