# Dotfiles managed by Chezmoi

Config files in this account are managed by Chezmoi.

Source files are located in [Chezmoi]({{ .chezmoi.sourceDir }}) directory.

- dotfiles id: **{{ .dotfiles_id }}**
- dotfiles sourceDir: **{{ .chezmoi.sourceDir }}**
- profile: **{{ .profile }}**

See more details in [README.md]({{ .chezmoi.sourceDir }}/README.md)
