{
	"folders": [
		{
			"path": "turboBasic/opus-magnum"
		}
	],
	"settings": {
		"hide-files.files": [],
		"workbench.colorCustomizations": {
			"activityBar.background": "#5E470E",
			"titleBar.activeBackground": "#836313",
			"titleBar.activeForeground": "#FDFAF2",
			"titleBar.inactiveBackground": "#5E470E",
			"titleBar.inactiveForeground": "#FDFAF2",
			"statusBar.background": "#5E470E",
			"statusBar.foreground": "#FDFAF2",
			"statusBar.debuggingBackground": "#5E470E",
			"statusBar.debuggingForeground": "#FDFAF2",
			"statusBar.noFolderBackground": "#5E470E",
			"statusBar.noFolderForeground": "#FDFAF2"
		},
		"json.schemaDownload.trustedDomains": {
			"https://biomejs.dev": true
		},
		"files.associations": {
			"**/.aws/config": "properties"
		},
		"go.goroot": "{{ .chezmoi.homeDir }}/.local/share/mise/installs/go/1.26.4",
		"go.alternateTools": {
			"go": "{{ .chezmoi.homeDir }}/.local/share/mise/shims/go",
			"gopls": "{{ .chezmoi.homeDir }}/.local/share/mise/shims/gopls"
		},
		"makefile.configureOnOpen": false
	}
}
