#!/bin/sh

# chezmoi:template:left-delimiter=#{ right-delimiter=}#
# packages.yaml hash: #{ include ".chezmoidata/packages.yaml" | sha256sum }#

#{ if eq .chezmoi.os "darwin" }#
brew bundle --file=/dev/stdin <<EOF

#{- range .packages.darwin.bootstrap.formulae -}#
  #{- if eq "map" (kindOf .) }#
    tap #{ .tap | quote }#
    brew #{ .name | quote }#
  #{- else }#
    brew #{ . | quote }#
  #{- end }#
#{- end }#

#{- range .packages.darwin.bootstrap.casks -}#
  #{- if eq "map" (kindOf .) }#
    tap #{ .tap | quote }#
    cask #{ .name | quote }#
  #{- else }#
    cask #{ . | quote }#
  #{- end }#
#{- end }#

EOF
#{- end }#

#{ if eq .chezmoi.os "linux" -}#
sudo apt-get update
sudo apt-get install --yes #{ .packages.linux.apts | join " " }#

if [ -f /.dockerenv ]; then
    # We are in Ubuntu Docker container in macOS
    echo It looks like Homebrew in Ubuntu Docker container in macOS is fixed, we will try to install packages with Homebrew
fi

brew bundle --file=/dev/stdin <<EOF

#{- range .packages.linux.bootstrap.formulae -}#
  #{- if eq "map" (kindOf .) }#
    tap #{ .tap | quote }#
    brew #{ .name | quote }#
  #{- else }#
    brew #{ . | quote }#
  #{- end }#
#{- end }#

EOF

#{ end -}#
