[tools]
chezmoi = "latest"
claude = "latest"
go = "latest"
java = "temurin-21"
just = "latest"
node = "latest"
pipx = "latest"
python = "latest"
terraform = "latest"
usage = "latest"
uv = "latest"

[settings]
idiomatic_version_file_enable_tools = []
{{- if eq .chezmoi.os "linux" }}
  python.github_attestations = false    # TODO: for some reason this is causing issues in Linux
{{- end }}


[tasks.claude-default]
description = "Execute Claude with its default settings"
dir = "{{"{{"}}cwd{{"}}"}}"
run = '''
    unset AWS_PROFILE CLAUDE_CODE_USE_BEDROCK ANTHROPIC_DEFAULT_OPUS_MODEL ANTHROPIC_DEFAULT_SONNET_MODEL ANTHROPIC_DEFAULT_HAIKU_MODEL
    claude $@
'''

{{- $TASK_CLAUDE_COMPANY := (list "mo" "ia" | join "") }}
[tasks.claude-{{ $TASK_CLAUDE_COMPANY }}]
description = "Execute Claude Code with the AWS Bedrock backend in {{ $TASK_CLAUDE_COMPANY }} AWS account"
dir = "{{"{{"}}cwd{{"}}"}}"
run = '''
  # Execute Claude with {{ $TASK_CLAUDE_COMPANY }} ai AWS profile
  claude $@
'''

[tasks.claude-{{ $TASK_CLAUDE_COMPANY }}.env]
AWS_PROFILE = "sso-ai"
# AWS_REGION = "eu-central-1"
CLAUDE_CODE_USE_BEDROCK = 1
ANTHROPIC_DEFAULT_OPUS_MODEL = "eu.anthropic.claude-opus-4-6-v1"
ANTHROPIC_DEFAULT_SONNET_MODEL = "eu.anthropic.claude-sonnet-4-6"
ANTHROPIC_DEFAULT_HAIKU_MODEL = "eu.anthropic.claude-haiku-4-5-20251001-v1:0"

# aliases for Claude Code tasks
[shell_alias]
claude-default = "mise run claude-default --"
claude-{{ $TASK_CLAUDE_COMPANY }} = "mise run claude-{{ $TASK_CLAUDE_COMPANY }} --"
