[tools]
chezmoi = "latest"
claude = "latest"
dotnet = "8"
go = "latest"
java = "temurin-21"
node = "latest"
pipx = "latest"
python = "latest"
terraform = "1.14.8"
usage = "latest"
uv = "latest"

[settings]
idiomatic_version_file_enable_tools = []
{{if eq .chezmoi.os "linux" -}}
  python.github_attestations = false    # TODO: for some reason this is causing issues in Linux
{{ end }}
