<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.upgrade</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ .chezmoi.homeDir }}/.local/bin/upgrade-all</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>7</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
	<key>RunAtLoad</key>
	<false/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>StandardOutPath</key>
	<string>{{ .chezmoi.homeDir }}/Library/Logs/upgrade.log</string>
	<key>StandardErrorPath</key>
	<string>{{ .chezmoi.homeDir }}/Library/Logs/upgrade.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOMEBREW_NO_AUTO_UPDATE</key>
		<string>1</string>
		<key>HOMEBREW_NO_ENV_HINTS</key>
		<string>1</string>
		<key>HOMEBREW_NO_ASK</key>
		<string>1</string>
		<key>HOME</key>
		<string>{{ .chezmoi.homeDir }}</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
</dict>
</plist>
