{{ $account := get (.aliases | fromJson) "41-pekingente" -}}
{{ $accountData := get (.accounts | fromJson) $account -}}
{{ if $accountData -}}
   {{- dig "ssl_certificate" "value" "" $accountData | fromJson }}
{{- end }}
