# shellcheck disable=SC2148,SC1072,SC1073
### macOS template begin


##  Homebrew

() {
    _path_to_homebrew
    typeset -aU homebrew=( "${reply[@]}" )

    if [[ -n $homebrew ]]; then
        export HOMEBREW_PREFIX=$($homebrew[1] --prefix)

        _path_to_gnu_utils_in_homebrew
        typeset -aU gnu_utils=( "${reply[@]}" )

        path=(
            $ZPFX/bin(-N/)
            $HOMEBREW_PREFIX/bin
            $HOMEBREW_PREFIX/sbin
            $path
            $gnu_utils
        )
        path=( ${^path}(-N/) )          # only directories and symlinks to directories

        fpath=(
            $HOMEBREW_PREFIX/share/zsh/site-functions(-N/)
            $fpath
        )
        fpath=( ${^fpath}(-N/) )
    fi
}

() {
    declare HOMEBREW_PREFIX=${HOMEBREW_PREFIX-/opt/homebrew}
    zinit light-mode lucid for \
            id-as='brew' \
            pick='brew.zsh' \
            nocompile='!' \
            atclone='
                if [[ ! -x "$HOMEBREW_PREFIX/bin/brew" ]]; then
                    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
                fi
                $HOMEBREW_PREFIX/bin/brew shellenv > brew.zsh
            ' \
            run-atpull \
            atpull='brew update' \
        zdharma-continuum/null

    ##  Homebrew install essential packages
    ##  Enforce the installation of essential Homebrew formulae by executing `zinit update brew-essential-formulae`
    (( $+commands[brew] )) &&
    zinit light-mode lucid for \
            id-as='brew-essential-formulae' \
            nocompile='!' \
            atclone=$'
                (( $+commands[asdf] )) || brew install asdf
                (( $+commands[atuin] )) || brew install atuin
                (( $+commands[grealpath] )) || brew install coreutils
                (( $+commands[gawk] )) || brew install gawk
                (( $+commands[gfind] )) || brew install findutils
                (( $+commands[ggrep] )) || brew install grep
                (( $+commands[gsed] )) || brew install gnu-sed
                (( $+commands[gtar] )) || brew install gnu-tar
                (( $+commands[aws] )) || brew install awscli
                (( $+commands[chezmoi] )) || brew install chezmoi
                (( $+commands[cookiecutter] )) || brew install cookiecutter
                (( $+commands[diff-so-fancy] )) || brew install diff-so-fancy
                (( $+commands[dive] )) || brew install dive
                (( $+commands[docker] )) || brew install --cask docker
                (( $+commands[hatch] )) || brew install hatch
                (( $+commands[jq] )) || brew install jq
                (( $+commands[gman] )) || brew install man-db
                (( $+commands[nvim] )) || brew install neovim
                (( $+commands[pipx] )) || brew install pipx
                (( $+commands[pkg-config] )) || brew install pkg-config
                (( $+commands[pre-commit] )) || brew install pre-commit
                (( $+commands[repo] )) || brew install repo
                (( $+commands[rg] )) || brew install ripgrep
                (( $+commands[tldr] )) || brew install tldr
                (( $+commands[tree] )) || brew install tree
                (( $+commands[yq] )) || brew install yq
                (( $+commands[zstd] )) || brew install zstd
                (( $+commands[zx] )) || brew install zx
                brew list arc &> /dev/null || brew install arc
                brew list bash &> /dev/null || brew install bash
                brew list curl &> /dev/null || brew install curl
                brew list git-lfs &> /dev/null || brew install git-lfs
                brew list inkscape &> /dev/null || brew install inkscape
                brew list keystore-explorer &> /dev/null || brew install keystore-explorer
                brew list less &> /dev/null || brew install less
                brew list font-fira-code-nerd-font &> /dev/null || {
                    brew tap homebrew/cask-fonts
                    brew install font-fira-code-nerd-font
                }
                brew list visual-studio-code &> /dev/null || brew install visual-studio-code

                local i j files symlinks

                # install symlinks to Homebrew versions of utilities
                symlinks=(
                    $HOMEBREW_PREFIX/opt/*/libexec/gnubin/*(-*N)
                    $HOMEBREW_PREFIX/opt/man-db/libexec/bin/*(-*N)
                    $HOMEBREW_PREFIX/opt/curl/bin/*(-*N)
                )
                for j in $symlinks; do
                    ln -sfv "$j" $HOME/.local/bin/"$(basename "$j")"
                done

                # update Man path
                echo "
                    man_paths=(
                        \$HOMEBREW_PREFIX/opt/*/libexec/gnuman(N)
                        \$HOMEBREW_PREFIX/opt/curl/share/man(N)
                    )
                    for i in \$man_paths; do
                        manpath=( \$i \$manpath )
                    done
                " > brew-essential-formulae.zsh

                # create symlinks for autocompletion
                symlinks=(
                    $HOMEBREW_PREFIX/opt/curl/share/zsh/site-functions/_curl
                )
                for i in $symlinks; do
                    ln -svf "$i" ~/.local/share/zinit/completions/
                done
            ' \
            atpull='%atclone' \
            run-atpull \
        zdharma-continuum/null
}


### macOS template end
# shellcheck enable=SC2148,SC1072,SC1073
